.box {
    height: 500px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(31, 32, 31);
    color: rgb(221, 221, 236);
    float: left;
    box-shadow: 2px 2px 5px gray;
}
